.createPost {
  display: flex;
  justify-content: center;
  align-items: center;

  form {
    display: flex;
    flex-direction: column;
    width: 400px;

    > * {
      margin-bottom: 20px;
    }
  }

  .__author {
    display: flex;
    justify-content: space-between;
    gap: 15px;

    button {
      padding: 5px;
      width: 100%;
    }
  }
}
