@import "./../../libs/variables.scss";

.home {
  padding: 0 $sidePadding;

  .grid {
    display: grid;
    grid-template-columns: 200px auto 200px;
    column-gap: 20px;

    .createPostBtn {
      width: 100%;
      margin-bottom: 30px;
      padding: 20px;

      box-shadow: 0px 0px 10px $lightGray;
      background-color: lightskyblue;
      border: 0;
      border-radius: 10px;
      color: $white;
      font-size: 1.1rem;
      font-weight: bold;

      cursor: pointer;

      &:hover {
        background: rgb(69, 184, 255);
      }
      &:active {
        box-shadow: inset 0 0 4px 2px rgba(0, 0, 0, 0.3);
      }
    }
  }

  .friend {
    margin-bottom: 10px;
  }
}