.Friends {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  margin: 60px 20px;

  > * {
    text-align: center;
  }

  .__friendsList {
    display: flex;
    justify-content: center;
    margin: 60px 20px;
    flex-wrap: wrap;
    width: 100%;

    > * {
      width: 300px;
      margin: 20px 0;
    }
  }
}
